html {
    height: 100%;
}

.form .row {
    margin-bottom: 0px !important;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.mt-auto {
    margin-top: auto;
}

.flex-start {
    align-items: flex-start !important;
}

.between {
    justify-content: space-between !important;
}

.fixed-action-btn {
    right: 4% !important;
    bottom: 5% !important;
}

.side-panel {
    position: fixed;
    height: 100%;
    width: 250px;
    margin: 0;
    transform: translateX(0%);
    transition: transform 400ms;
    z-index: 1;
}

.card-content {
    height: 100%;
}

.leaflet-top.leaflet-left {
    transform: translateX(250px);
    transition: transform 400ms;
}

.side-panel--close {
    transform: translateX(-105%);
}

.zoom-panel--close {
    transform: translateX(0) !important;
}

.nav-search {
    background-color: #26a69a;
}

.reseller-list-container {
    margin: 17px 0 17px 0;
    overflow: auto;
}

.reseller-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.reseller-info i {
    padding-right: 10px;
}

.open-sidenav,
#map {
    z-index: 0;
}

#map {
    height: 100vh;
}

.teal {
    background-color: #26a69a !important;
}

.messages {
    position: absolute;
}

.messages:hover {
    cursor: pointer;
}

.success {
    background-color: #37474f;
}

.error {
    background-color: #e57373;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (orientation: landscape) {
    .messages {
        right: 5%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .side-panel {
        width: 300px;
    }
    
    .leaflet-top.leaflet-left {
        transform: translateX(300px);
    }
}

@media (min-width: 768px) and (orientation: landscape) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}