{% extends 'mapapp/layout.html' %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
  crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'mapapp/css/forms.css' %}">
{% endblock styles %}
{% block header %}
<div class="row">
  <nav class="teal">
    <div class="nav-wrapper">
      <div class="container">
        <a href="/" class="breadcrumb">Map</a>
        <a href="/add-reseller" class="breadcrumb">Add Reseller</a>
      </div>
    </div>
  </nav>
</div>
{% endblock header %}
{% block main %}
<div class="container">
  <div class="row d-flex flex-between valign-wrapper">
    <div class="import-export d-flex">
      <a class="modal-trigger" href="#modal1"><span><i class="fas fa-download"></i></span>Import</a>
      <a href="/export-resellers" download><span><i class="fas fa-upload"></i></span>Export</a>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="toast messages {{ message.tags }}" {% else %} class="toast messages" {% endif %}>
      {{ message }}
      <i class="material-icons flash-close">cancel</i>
    </div>
    {% endfor %}
    {% elif file_form.errors %}
    {% for error in file_form.file.errors %}
    <div class="toast messages error">
      {{ error|escape }}
      <i class="material-icons flash-close">cancel</i>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <form class="form" method="POST" action="/import-resellers" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-content">
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          {{ file_form.file }}
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" required>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input class="btn" type="submit" name="submit">
    </div>
  </form>
</div>
<div class="container">
  <div class="row">
    <div class="card-panel">
      <form class="form" method="POST" action="/add-one-reseller">
        {% csrf_token %}
        {% if reseller_form.errors %}
        <div class="row">
          {% for field in reseller_form %}
          {% if field.name == "first_name" or field.name == "last_name" %}
          <div class="input-field col s12 m6">
            {{ field }}
            {{ field.label_tag }}
            {% for error in field.errors %}
            <span class="helper-text" style="color: #f44336">{{ error|escape }}</span>
            {% endfor %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="row">
          {% for field in reseller_form %}
          {% if field.name == "email" or field.name == "phone" %}
          <div class="input-field col s12 m6">
            {{ field }}
            {{ field.label_tag }}
            {% for error in field.errors %}
            <span class="helper-text" style="color: #f44336">{{ error|escape }}</span>
            {% endfor %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
        {% for field in reseller_form %}
        {% if field.name == "company" or field.name == "address" %}
        <div class="row">
          <div class="input-field col s12">
            {{ field }}
            {{ field.label_tag }}
            {% for error in field.errors %}
            <span class="helper-text" style="color: #f44336">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="row">
          {% for field in reseller_form %}
          {% if field.name == "city" or field.name == "state" or field.name == "zipcode" %}
          <div class="input-field col s12 m4">
            {{ field }}
            {{ field.label_tag }}
            {% for error in field.errors %}
            <span class="helper-text" style="color: #f44336">{{ error|escape }}</span>
            {% endfor %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ reseller_form.comments }}
            {{ reseller_form.comments.label_tag }}
            {% for error in reseller_form.comments.errors %}
            <span class="helper-text" style="color: #f44336">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
        {% else %}
        {% for field in reseller_form %}
        {% if field.name in field_names %}
        <div class="input-field col s12 m6">
          {{ field }}
          {{ field.label_tag }}
        </div>
        {% elif field.name in field_location %}
        <div class="input-field col s12 m4">
          {{ field }}
          {{ field.label_tag }}
        </div>
        {% elif field.name in field_geocode %}
        {{ field }}
        {% else %}
        <div class="input-field col s12">
          {{ field }}
          {{ field.label_tag }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <input type="submit" class="btn" value="Submit">
      </form>
    </div>
  </div>
</div>
{% endblock main %}
{% block scripts %}
{% load static %}
<script src="{% static 'mapapp/js/forms.js' %}"></script>
{% endblock scripts %}