{% extends 'mapapp/layout.html' %}
{% block styles %}
{% load static %}
<!-- Leaflet CSS & JS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin="" />
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
  crossorigin=""></script>
<!-- Leaflet timeline plugin -->
<script src="https://cdn.jsdelivr.net/npm/leaflet.timeline@1.2.1/dist/leaflet.timeline.min.js"></script>
<!-- Marker Cluster JS & CSS -->
<script src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
<!-- External CSS -->
<link rel="stylesheet" href="{% static 'mapapp/css/styles.css' %}">
{% endblock styles %}
{% block main %}
<div class="card side-panel d-flex flex-column" data-js="side-panel">
  <div class="card-content d-flex flex-column">
    <nav class="nav-search">
      <div class="nav-wrapper">
        <form data-js="form-address-search" method="POST" action="">
          {% csrf_token %}
          <div class="input-field">
            <!-- <input id="address-search" data-js="address-search" type="search" placeholder="Search Address"> -->
            {{ address_form.address }}
            <label class="label-icon" for="address-search"><i class="material-icons">search</i></label>
          </div>
        </form>
      </div>
    </nav>
    <div class="reseller-list-container">
      <ul class="collapsible" data-js="reseller-list">
        {% for reseller in resellers %}
        <li>
          <div class="collapsible-header">
            <span><strong>{{ reseller.first_name }} {{ reseller.last_name }}</strong>
              &nbsp;&nbsp;{{ reseller.city }}, {{ reseller.state }}</span>
          </div>
          <div class="collapsible-body">
            <div class="reseller-info">
              <i class="material-icons">home</i>
              <div class="address">
                <p>{{ reseller.address }}</p>
                <p>{{ reseller.city }}, {{ reseller.state }}</p>
              </div>
            </div>
            <div class="reseller-info">
              <i class="material-icons">email</i>
              <p>{{ reseller.email }}</p>
            </div>
            <div class="reseller-info">
              <i class="material-icons">phone</i>
              <p>{{ reseller.phone }}</p>
            </div>
            <a href="/update-reseller/{{ reseller.id }}" class="btn waves-effect light-effect update-reseller-button"
              data-js="update-reseller-button">Update</a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <nav class="nav-search mt-auto">
      <div class="nav-wrapper">
        <form data-js="form-filter-search">
          <div class="input-field">
            <input id="filter-search" data-js="filter-search" type="search" placeholder="Filter Resellers">
            <label class="label-icon" for="filtter-search"><i class="material-icons">filter_list</i></label>
          </div>
        </form>
      </div>
    </nav>
  </div>
  <div class="card-action center-align mt-auto">
    <a href="/add-reseller" class="btn small waves-effect waves-light">Add New Reseller</a>
  </div>
</div>
<div id="map"></div>
{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="toast messages {{ message.tags }}" {% else %} class="toast messages" {% endif %}>
  {{ message }}
  <i class="material-icons flash-close">cancel</i>
</div>
{% endfor %}
{% endif %}
<div class="fixed-action-btn">
  <a class="btn-floating btn-large blue tooltipped open-sidenav" data-js="open-sidenav" data-position="left" data-tooltip="Toggle Side Panel">
    <i class="material-icons">graphic_eq</i>
  </a>
  <ul>
    <li>
      <a href="/accounts/logout" class="btn-floating tooltipped red" data-position="left" data-tooltip="Logout">
        <i class="material-icons">gesture</i>
      </a>
    </li>
  </ul>
</div>
{% endblock main %}
{% block scripts %}
{% load static %}
<!-- External JS -->
<script src="{% static 'mapapp/js/map.js' %}"></script>
<script src="{% static 'mapapp/js/index.js' %}"></script>
{% endblock scripts %}