{% extends 'mapapp/layout.html' %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'mapapp/css/styles.css' %}">
{% endblock styles %}
{% block header %}
<div class="row">
  <nav class="teal">
    <div class="nav-wrapper">
      <div class="container">
        <a href="/" class="breadcrumb">Map</a>
        <a href="/update-reseller/{{ reseller.id }}" class="breadcrumb">Add Reseller</a>
      </div>
    </div>
  </nav>
</div>
{% endblock header %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="card-panel">
      <form class="form" method="POST" action="">
        {% csrf_token %}
        {% if form.errors %}
        <div class="row">
          {% for field in form %}
          {% if field.name == "first_name" or field.name == "last_name" %}
          <div class="input-field col s12 m6">
            {{ field }}
            {{ field.label_tag }}
            {% for error in field.errors %}
            <span class="helper-text" style="color: #f44336">{{ error|escape }}</span>
            {% endfor %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="row">
          {% for field in form %}
          {% if field.name == "email" or field.name == "phone" %}
          <div class="input-field col s12 m6">
            {{ field }}
            {{ field.label_tag }}
            {% for error in field.errors %}
            <span class="helper-text" style="color: #f44336">{{ error|escape }}</span>
            {% endfor %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
        {% for field in form %}
        {% if field.name == "company" or field.name == "address" %}
        <div class="row">
          <div class="input-field col s12">
            {{ field }}
            {{ field.label_tag }}
            {% for error in field.errors %}
            <span class="helper-text" style="color: #f44336">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="row">
          {% for field in form %}
          {% if field.name == "city" or field.name == "state" or field.name == "zipcode" %}
          <div class="input-field col s12 m4">
            {{ field }}
            {{ field.label_tag }}
            {% for error in field.errors %}
            <span class="helper-text" style="color: #f44336">{{ error|escape }}</span>
            {% endfor %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.comments }}
            {{ form.comments.label_tag }}
            {% for error in form.comments.errors %}
            <span class="helper-text" style="color: #f44336">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
        {% else %}
        {% for field in form %}
        {% if field.name in field_names %}
        <div class="input-field col s12 m6">
          {{ field }}
          {{ field.label_tag }}
        </div>
        {% elif field.name in field_location %}
        <div class="input-field col s12 m4">
          {{ field }}
          {{ field.label_tag }}
        </div>
        {% elif field.name in field_geocode %}
        {{ field }}
        {% else %}
        <div class="input-field col s12">
          {{ field }}
          {{ field.label_tag }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <input type="submit" class="btn" value="Submit">
      </form>
    </div>
  </div>
</div>
{% endblock main %}
{% block scripts %}
{% load static %}
<script src="{% static 'mapapp/js/forms.js' %}"></script>
{% endblock scripts %}