html {
    height: 100%;
}

.open-sidenav {
    position: absolute;
    right: 4%;
    bottom: 5%;
}

.side-panel {
    position: fixed;
    height: 100%;
    width: 300px;
    margin: 0;
    transform: translateX(0%);
    transition: transform 400ms;
    z-index: 1;
}

.side-panel--close {
    transform: translateX(-105%);
}

.nav-search {
    margin-bottom: 24px;
    background-color: #26a69a;
}

.reseller-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.reseller-info i {
    padding-right: 10px;
}

.open-sidenav,
#map {
    z-index: 0;
}

#map {
    height: 100vh;
}